<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>مالەوە</title>
    <link rel="icon" href="../svg/pages-icon.svg" type="image/svg+xml" />
    <link rel="stylesheet" href="../css/main.css" />
    <link rel="stylesheet" href="../css/home-page.css" />
    <link rel="stylesheet" href="../css/all.min.css" />
  </head>
  <body>
    <main>
      <header>
        <div class="container">
          <h2>كِتَٰبٌ أَنزَلۡنَٰهُ إِلَيۡكَ مُبَٰرَكٞ لِّيَدَّبَّرُوٓاْ ءَايَٰتِهِۦ وَلِيَتَذَكَّرَ أُوْلُواْ ٱلۡأَلۡبَٰبِ
تەفسیری کوردی بێگومان ئەم قورئانە کتێبێکە بە فەڕ و بەرەکەت کە بۆ تۆمان ناردووەتە خوارەوە (ئەی موحەممەد ﷺ)، تاکو خەڵکی بیر لە ئایەتەکانی بکەنەوە و تێبگەن لە مەبەستەکانی، وە تاکو خاوەن عەقڵەکان (خاوەن هۆش و ژیرەکان) پەند وەربگرن و یادی خودا بکەنەوە بەهۆی ئەم قورئانەوە.
</h2>
        </div>
      </header>
      <section>
        <div class="container">
          <h2>دووشەممە، ئایاری ١، ٢٠٢٣ <span>(١٠ شەووال ١٤٤٤
)</span></h2>
          <div class="content">
            <figure>
              <img src="../image/mosque.png" alt="mosque" />
            </figure>
            <article>
              <section class="Hijri-timing">
                <div class="row">
                  <span>نوێژ</span>
                  <span>کات</span>
                </div>
              </section>
              <a href="hijri-calendar.html" class="btn">بینینی ساڵنامەی هیجری
یاخوود کۆچی</a>
            </article>
          </div>
        </div>
      </section>
      <section>
        <div class="container content">
          <figure>
            <img src="../image/muslim-quran.png" alt="mosque" />
          </figure>
          <article>
            <h2>إِنَّ هَٰذَا ٱلۡقُرۡءَانَ يَهۡدِي لِلَّتِي هِيَ أَقۡوَمُ وَيُبَشِّرُ ٱلۡمُؤۡمِنِينَ ٱلَّذِينَ يَعۡمَلُونَ ٱلصَّٰلِحَٰتِ أَنَّ لَهُمۡ أَجۡرٗا كَبِيرٗا</h2>
            <a href="holy-quran.html" class="btn">بینینی قورئانی پیرۆز</a>
          </article>
        </div>
      </section>
      <section>
        <div class="container content">
          <figure>
            <img src="../image/quran-1.jpg" alt="mosque" />
          </figure>
          <article>
            <h2>وَمَآ ءَاتَىٰكُمُ ٱلرَّسُولُ فَخُذُوهُ وَمَا نَهَىٰكُمۡ عَنۡهُ فَٱنتَهُواْۚ وَٱتَّقُواْ ٱللَّهَۖ إِنَّ ٱللَّهَ شَدِيدُ ٱلۡعِقَابِ</h2>
            <a href="ahadith.html" class="btn">بینینی فەرموودەکان
حەدیس</a>
          </article>
        </div>
      </section>
      <section>
        <div class="container content">
          <figure>
            <img src="../image/doaa-man.png" alt="mosque" />
          </figure>
          <article>
            <h2>يَٰٓأَيُّهَا ٱلَّذِينَ ءَامَنُواْ ٱذۡكُرُواْ ٱللَّهَ ذِكۡرٗا كَثِيرٗا</h2>
            <a href="adhkar.html" class="btn">زیکرەکان ببینە</a>
          </article>
        </div>
      </section>
    </main>
    <script src="../js/main.js" type="module"></script>
    <script src="../js/home-page.js" type="module"></script>
  </body>
</html>
